## Iris data set con TensorFlow

In [1]:
#Importando librerias 

import tensorflow as tf
import numpy as np
import pandas as pd
import scipy.stats as stats
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Cargando dataset

path_file = 'C:\\Users\\dieku\\Documents\\GitHub\\cyberseguridad-code\\Experimentos\\Experimentos_Diego\\Datasets\\iris.csv'

data = pd.read_csv(path_file)

data

     5.1  3.5  1.4  0.2     setosa
0    4.9  3.0  1.4  0.2     setosa
1    4.7  3.2  1.3  0.2     setosa
2    4.6  3.1  1.5  0.2     setosa
3    5.0  3.6  1.4  0.2     setosa
4    5.4  3.9  1.7  0.4     setosa
..   ...  ...  ...  ...        ...
144  6.7  3.0  5.2  2.3  virginica
145  6.3  2.5  5.0  1.9  virginica
146  6.5  3.0  5.2  2.0  virginica
147  6.2  3.4  5.4  2.3  virginica
148  5.9  3.0  5.1  1.8  virginica

[149 rows x 5 columns]

In [3]:
data['setosa'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
def define_tipo(x):
    if(x == 'setosa'):
        return 0
    elif(x == 'virginica'):
        return 1
    else:
        return 2

data_mod = data.copy()
data_mod['clase'] = data['setosa'].apply(define_tipo)
data_mod

     5.1  3.5  1.4  0.2     setosa  clase
0    4.9  3.0  1.4  0.2     setosa      0
1    4.7  3.2  1.3  0.2     setosa      0
2    4.6  3.1  1.5  0.2     setosa      0
3    5.0  3.6  1.4  0.2     setosa      0
4    5.4  3.9  1.7  0.4     setosa      0
..   ...  ...  ...  ...        ...    ...
144  6.7  3.0  5.2  2.3  virginica      1
145  6.3  2.5  5.0  1.9  virginica      1
146  6.5  3.0  5.2  2.0  virginica      1
147  6.2  3.4  5.4  2.3  virginica      1
148  5.9  3.0  5.1  1.8  virginica      1

[149 rows x 6 columns]

In [5]:
data_mod.corr()

            5.1       3.5       1.4       0.2     clase
5.1    1.000000 -0.103784  0.871283  0.816971  0.456175
3.5   -0.103784  1.000000 -0.415218 -0.350733 -0.608924
1.4    0.871283 -0.415218  1.000000  0.962314  0.645219
0.2    0.816971 -0.350733  0.962314  1.000000  0.576190
clase  0.456175 -0.608924  0.645219  0.576190  1.000000

In [23]:
dataX = data_mod.drop(['setosa', 'clase'], axis=1).copy()
dataY = data_mod[['clase']].copy()

In [24]:
dataX

     5.1  3.5  1.4  0.2
0    4.9  3.0  1.4  0.2
1    4.7  3.2  1.3  0.2
2    4.6  3.1  1.5  0.2
3    5.0  3.6  1.4  0.2
4    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.0  5.2  2.3
145  6.3  2.5  5.0  1.9
146  6.5  3.0  5.2  2.0
147  6.2  3.4  5.4  2.3
148  5.9  3.0  5.1  1.8

[149 rows x 4 columns]

In [25]:
# Analisis exploratorio ? 
dataX.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [26]:
#Correlacion de variables.
dataX.corr()

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000

In [27]:
dataY

     clase
0        0
1        0
2        0
3        0
4        0
..     ...
144      1
145      1
146      1
147      1
148      1

[149 rows x 1 columns]

In [28]:
dataX = (dataX-np.mean(dataX, axis=0)) / np.std(dataX,axis=0)
dataY = (dataY-np.mean(dataY, axis=0)) / np.std(dataY,axis=0)

In [29]:
dataX

          5.1       3.5       1.4       0.2
0   -1.148356 -0.118060 -1.353964 -1.325063
1   -1.390542  0.344859 -1.410986 -1.325063
2   -1.511636  0.113399 -1.296943 -1.325063
3   -1.027262  1.270695 -1.353964 -1.325063
4   -0.542889  1.965072 -1.182901 -1.061466
..        ...       ...       ...       ...
144  1.031326 -0.118060  0.812838  1.442709
145  0.546952 -1.275355  0.698796  0.915514
146  0.789139 -0.118060  0.812838  1.047313
147  0.425859  0.807777  0.926880  1.442709
148  0.062578 -0.118060  0.755817  0.783716

[149 rows x 4 columns]

In [30]:
dataY

        clase
0   -1.235080
1   -1.235080
2   -1.235080
3   -1.235080
4   -1.235080
..        ...
144 -0.008234
145 -0.008234
146 -0.008234
147 -0.008234
148 -0.008234

[149 rows x 1 columns]

### Generacion de datos de entrenamiento, testing y validacion o.o

 E, T, V = 70%, 20%, 10%

In [31]:
from sklearn.model_selection import train_test_split

train_ratio = 0.7
test_ratio = 0.2
validation_ratio = 0.1

In [32]:

X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=test_ratio, random_state=101)

In [33]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=validation_ratio/(validation_ratio + train_ratio), random_state=101)

In [34]:
print("===============================================================")
print("Porcentaje de entrenamiento X: "+ str(X_train.shape[0]/dataX.shape[0]) +"\n")
print("Porcentaje de testeo X: "+ str(X_test.shape[0]/dataX.shape[0]) +"\n")
print("Porcentaje de validacion X: "+ str(X_val.shape[0]/dataX.shape[0]) +"\n")
print("===============================================================")
print("Porcentaje de entrenamiento Y: "+ str(y_train.shape[0]/dataY.shape[0]) +"\n")
print("Porcentaje de testeo Y: "+ str(y_test.shape[0]/dataY.shape[0]) +"\n")
print("Porcentaje de validacion Y: "+ str(y_val.shape[0]/dataY.shape[0]) +"\n")
print("===============================================================")

===============================================================
Porcentaje de entrenamiento X: 0.697986577181208

Porcentaje de testeo X: 0.20134228187919462

Porcentaje de validacion X: 0.10067114093959731

===============================================================
Porcentaje de entrenamiento Y: 0.697986577181208

Porcentaje de testeo Y: 0.20134228187919462

Porcentaje de validacion Y: 0.10067114093959731

===============================================================

In [35]:
modelANN = tf.keras.models.Sequential()

In [36]:
modelANN.add(tf.keras.layers.Dense(units=5, activation='relu',input_shape=(X_train.shape[1],)))
modelANN.add(tf.keras.layers.Dropout(0.2))
modelANN.add(tf.keras.layers.Dense(units=3,activation='softmax'))

In [37]:
modelANN.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics=['sparse_categorical_accuracy'])

In [38]:
modelANN.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 5)                 25
_________________________________________________________________
dropout_1 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 18
=================================================================
Total params: 43
Trainable params: 43
Non-trainable params: 0
_________________________________________________________________

In [39]:
historyANN = modelANN.fit(X_train,y_train, epochs=5, validation_data=(X_val,y_val['clase']))

Train on 104 samples, validate on 15 samples
Epoch 1/5
 32/104 [========>.....................] - ETA: 1s

InvalidArgumentError:  Received a label value of -1 which is outside the valid range of [0, 3).  Label values: 0 1 0 1 -1 0 0 -1 0 -1 1 1 1 0 0 -1 0 0 0 -1 0 0 -1 -1 1 -1 -1 0 0 -1 1 0
	 [[node loss/dense_3_loss/SparseSoftmaxCrossEntropyWithLogits/SparseSoftmaxCrossEntropyWithLogits (defined at <ipython-input-39-1ca3db95aced>:1) ]] [Op:__inference_distributed_function_1451]

Function call stack:
distributed_function

In [ ]:
test_loss, test_accuracy = modelANN.evaluate(X_test, y_test)

In [ ]:
test_accuracy

In [ ]:
test_loss